# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Visual Studio 2015 cache/options directory
.vs/
.vscode/launch.json

.jest-cache/
dist/
build/
test-report.html
.env

.idea/workspace.xml
